<canvas id="{{ chartid }}" width="400" height="400"></canvas>
<script>
var ctx = document.getElementById("{{ chartid }}");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
          {% for l in labels %}
            "{{ l }}",
          {% endfor %}
      ],
        datasets: [{
            label: '{{ label }}',
            data: [
              {% for entry in data %}
                {{ entry }},
              {% endfor %}
            ],
            backgroundColor: [
                {% for color in colors %}
                  "{{ color }}",
                {% endfor %}
            ],
            hoverBackgroundColor: [
              {% for color in hcolors %}
                "{{ color }}",
              {% endfor %}
            ]
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    title: {
      display: true,
      title: {{ charttitle }},
    }
});
</script>
