<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GitHub Explorer</title>
    <meta name="theme-color" content="#2196F3">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/explorer/offset.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
  </head>

  <body>
    <header>
      <nav class="top-nav" style="height:95px">
        <div class="container">
          <div class="nav-wrapper">
            <div class="valign-wrapper">
              <h3><a class="page-title">GitHub Explorer</a></h3>
            </div>
          </div>
        </div>
      </nav>

      <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a></div>
      <ul id="nav-mobile" class="side-nav fixed">
        <div class="row" style="padding-top:200px">
          <form name="filters" action="/explorer/" method="POST">
            <div class="input-field col s12">
              <select name="language" id="language">
                {% for lang in languages %}
                <option value="{{ lang.0 }}" {{ lang.1 }}>{{ lang.0 }}</option>
                {% endfor %}
              </select>
              <label for="language">Programming Language</label>
            </div>
            <div class="input-field col s12">
              <select name="nationality" id="nationality">
                {% for nation in nations %}
                <option value="{{ nation.0 }}" {{ nation.1 }}>{{ nation.0 }}</option>
                {% endfor %}
              </select>
              <label for="nationality">Nationality</label>
            </div>
            <div class="input-field col s12">
              <input value="{{starty}}" id="start_year" name="start_year" type="number"></input>
              <label for="start_year">From Year</label>
            </div>
            <div class="input-field col s12">
              <input value="{{endy}}" id="end_year" name="end_year" type="number"></input>
              <label for="end_year">To Year</label>
            </div>
            <div class="input-field col s12">
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </form>
        </div>
      </ul>
    </header>

    <main>

      {% for chartpair in charts %}

      <div class="row">

        {% for chart in chartpair %}
          <div class="col m6">
            <div class="card">
              <div class="card-content">
                {{ chart|safe }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% endfor %}

    </main>


    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col m12 white-text">
            <p>Aditi Hudli, Harry Zhang, Navie Narula, Ravie Lakshmanan</p>
          </div>
        </div>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".button-collapse").sideNav();
        $('select').material_select();
      })
    </script>
  </body>
